NTCompanion/bin
NTCompanion/gen
NTCompanion/.settings/org.eclipse.jdt.core.prefs
Noodletools/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
Noodletools/Noodletools.xcodeproj/project.xcworkspace/xcuserdata/*
Noodletools/Noodletools.xcodeproj/project.xcworkspace/xcshareddata/*
Noodletools/Noodletools.xcodeproj/xcuserdata/*
Noodletools/platforms/android/CordovaLib/bin
Noodletools/platforms/android/bin
Noodletools/platforms/android/.gradle
Noodletools/platforms/android/.idea
Noodletools/platforms/android/CordovaLib/CordovaLib.iml
Noodletools/platforms/android/CordovaLib/build/
Noodletools/platforms/android/android.iml
Noodletools/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/ashah.xcuserdatad/
Noodletools/platforms/ios/Noodletools.xcodeproj/project.xcworkspace/xcuserdata/ashah.xcuserdatad/
Noodletools/platforms/ios/Noodletools.xcodeproj/xcuserdata/ashah.xcuserdatad/
Noodletools/platforms/android/CordovaLib/build/*
Noodletools/platforms/android/.gradle/2.2.1/taskArtifacts/*
Noodletools/platforms/android/.idea/*
Noodletools/platforms/android/CordovaLib/CordovaLib.iml
Noodletools/platforms/android/android.iml
